.re{
    display: grid;
    grid-template-columns:2fr 1fr ;
}
.log{
    background-color: rgb(19, 19, 216);
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    display: inline-block;
   font-size: 25px;
}
.in{
    background-color: rgb(34, 120, 250);
}
.new{
    background-color: rgb(69, 250, 69);
}